<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lvyousystem"
    android:versionCode="1"
    android:versionName="1.0" >
    <permission  
         android:name="com.example.lvyousystem.permission.MAPS_RECEIVE"  
         android:protectionLevel="signature"/>
    
    <uses-permission android:name = "com.example.lvyousystem.permission.MAPS_RECEIVE"/>
	  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	  <uses-permission android:name="android.permission.INTERNET"/>
	  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	  <!-- External storage for caching. -->
	  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	  <!-- My Location -->
	  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	  <!-- Maps API needs OpenGL ES 2.0. -->
	  <uses-feature
	    android:glEsVersion="0x00020000"
	    android:required="true"/>
	<uses-sdk
        android:minSdkVersion="9"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyCTptCZ-i1YVkDYgXiyEKWIFh8O5bLlVCw"/>
    <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.example.lvyousystem.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".LoginActivity"
            android:label="登陆"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".SupActivity"
            android:label="注册"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".SupSuccess"
            android:label="注册成功！"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".LoginSuccess"
            android:label="驴行天下"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".Searchres"
            android:label="搜索结果"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".MapActivity"
            android:label="当前位置"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".info_Activity"
            android:label="个人信息"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".cinfo_Activity"
            android:label="修改信息"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".cteam_Activity"
            android:label="创建队伍"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".scteam_Activity"
            android:label="查找队伍"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".sresult_Activity"
            android:label="查找结果"
            >
        </activity>
        
        <activity
            android:icon="@drawable/ic_launcher"
            android:name=".inteam"
            android:label="加入队伍"
            >
        </activity>
        
    </application>

</manifest>
